* {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

body {
    color: dodgerblue;
}

/* .mainDiv {
    background-color: black;
    width: 30%;
    
}

.inputs {
    padding: 10px;
} */