$color-blue: #0059ff;
$color-white:#fff;

// .title {
//     color: $color-white;
//     background-color: $color-blue;
//     font-size:20px;
//     padding:20px;
//     text-align: center;
// }
.menu {
    color:#0059ff;
    font-size: 20px;
    background-color: aquamarine;
}